<div class="container-fluid">

  <div *ngIf="loadingMatches" class="row mt-4">
    <div class="col text-center mt-4">
      <i class="fa fa-refresh fa-spin fa-4x mt-4"></i>
    </div>
  </div>

  <div *ngIf="matches.length > 0" class="row">

    <div class="col-10" style="min-height: 95vh">
      <iframe sandbox="allow-scripts allow-same-origin" style="height: 100%;width: 100%;" [src]="sanitizer.bypassSecurityTrustResourceUrl(src)"
        allowfullscreen scrolling=no allowtransparency></iframe>
    </div>

    <div class="col-2">
      <div class="row mt-3" *ngFor="let m of matches; let i = index">

        <div class="card pointer border border-primary" (click)="loadStream(i)">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <img width="80" height="80" [src]="m['icons'][0]">
              </div>
              <div class="col-2">
                <p class="lead mt-4">VS</p>
              </div>
              <div class="col-5">
                
                <img width="80" height="80" [src]="m['icons'][1]">
              </div>
            </div>
            <p>{{ m['title'] }}</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="infoModal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{infoTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <p class="lead">{{infoDescription}}</p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

