<div class="container-fluid">

  <div *ngIf="loadingMatches" class="row mt-4">
    <div class="col text-center mt-4">
      <i class="fa fa-refresh fa-spin fa-4x mt-4"></i>
    </div>
  </div>

  <div *ngIf="!loadingMatches" class="row">

    <div class="col-lg-10 col-md-12" [ngStyle]="getVidHeight()" >
      <iframe *ngIf="src" sandbox="allow-scripts allow-same-origin" style="height: 100%;width: 100%;" [src]="src"
        allowfullscreen scrolling=no allowtransparency></iframe>
      <div *ngIf="!loadingMatcheDetails && src == null" class="border border-2 mt-3 text-center" style="height: 100%;width: 100%;">
        <p class="display-6 mt-5">当前没有直播</p>
        <p class="lead">比赛开始后点击右方任意比赛开始直播</p>
      </div>
    </div>

    <div class="col-lg-2 col-md-12 overflow-auto" [ngStyle]="getMenuHeight()">
      <div class="row mt-3" *ngFor="let m of matches; let i = index">

        <div class="card border" (click)="loadStream(i)" [ngClass]="m['status'] == 'live' ? 'pointer border-primary border-3' : ''" >
          <div class="card-body pt-0">
            <div class="row">
              <div class="col ps-0">
                <span *ngIf="m['status'] == 'live'" class="badge rounded-pill bg-danger"><i class="fa fa-circle me-1" aria-hidden="true"></i>Live</span>
                <span *ngIf="i == playingIdx"class="badge rounded-pill bg-danger ms-2"><i class="fa fa-play" aria-hidden="true"></i>Playing</span>
                <span *ngIf="m['status'] == 'upcoming'" class="badge rounded-pill bg-success">Upcoming</span>
                <span *ngIf="m['status'] == 'ended'" class="badge rounded-pill bg-secondary">Ended</span>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-5 text-center px-0">
                <img width="80" height="80" [src]="m['teams'][0]['icon']">
                <p class="mt-2 mb-0">{{ m['teams'][0]['name'] }}</p>
              </div>
              <div class="col-2 text-center px-0">
                <p class="lead mt-4">VS</p>
              </div>
              <div class="col-5 text-center px-0">
                <img width="80" height="80" [src]="m['teams'][1]['icon']">
                <p class="mt-2 mb-0">{{ m['teams'][1]['name'] }}</p>
              </div>
            </div>

            <div class="row">
              <div *ngIf="m['status'] != 'upcoming'" class="col text-center">
                <p class="lead mb-0"><b class="text-success"> {{ m['teams'][0]['score'] }}</b> : <b class="text-success"> {{ m['teams'][1]['score'] }}</b></p>
              </div>
              <div *ngIf="m['status'] == 'upcoming'" class="col text-center">
                <p class="lead mb-0"><b class="text-success"> {{ getStartTime(m['time']) }}</b></p>
              </div>
            </div>
            
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="infoModal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{infoTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <p class="lead">{{infoDescription}}</p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

